<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>   
    <add name="xlsx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Sample.xlsx;Extended Properties=Excel 12.0" />
    <add name="ListasConnectionString" connectionString="Data Source=10.244.16.231;Initial Catalog=Sherlock_Ficohsa;User ID=sa;Password=sql2020-2021;Provider=SQLOLEDB.1" />
    <add name="SQLConnectionString" connectionString="Data Source= 10.244.16.231;Initial Catalog=Sherlock_Ficohsa;User ID=sa;Password=sql2020-2021;" />
    <add name="SarlaftConnectionString" connectionString="Data Source=10.244.16.231;Initial Catalog=Sherlock_Ficohsa;User ID=sa;Password=sql2020-2021;" />
    <add name="Sherlock_TestConnectionString" connectionString="Data Source=10.244.16.231;Initial Catalog=Sherlock_Ficohsa;User ID=sa;Password=sql2020-2021;"
     providerName="System.Data.SqlClient" />
    <add name="Sherlock_FicohsaConnectionString" connectionString="Data Source=10.244.16.231;Initial Catalog=Sherlock_Ficohsa;User ID=sa;Password=sql2020-2021"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sherlock@riskconsultingcolombia.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="sherlock@riskconsultingcolombia.com" password="riesgosz4z5@"/>
      </smtp>
    </mailSettings>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>